# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Environnements virtuels
.venv/
venv/
env/

# Build / distribution
build/
dist/
wheels/

# Outils
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.tox/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
